.card{
    justify-self: start;
    margin-left: 10px;
    width: 300px;
    min-height: 600px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 1px 10px 3px rgb(172, 245, 255);
    background: rgba(117, 190, 218, 0.0);
}

.upper-container{
    box-shadow: 0px 1px 10px 3px #9db7fd;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
    background: linear-gradient(to left, #00daf7 , #0245ff, #b024f1);
}
.upper1{
    display: flex;
}
.classement{
    transform: translate(28px,28px);
    font-family: 'Titilium Titillium Web', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    color: whitesmoke;
    box-shadow: 0px 1px 10px 1px rgb(255, 255, 255);
}
.score{
    box-shadow: 0px 1px 10px 1px rgb(255, 255, 255);
    transform: translate(152px,28px);
    font-family: 'Titilium Titillium Web', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    color: whitesmoke;
}

.image-container img{
  box-shadow: 0px 1px 10px 1px #ffffff;
  margin-top: 0px;
  background: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(98px,2px);
}
.name1{
    color: whitesmoke;
    font-weight: bold;
}
img{
    border: 2px solid #0950ac;
}

.lower-container{
    margin-top: 50px;
    min-height: 300px;
    text-align: center;
    font-family: 'Titilium Titillium Web', sans-serif;
}

